<article class="card">
    <header class="card-header">
        <a class="card-header-title" href="/post/{{id}}">{{title}}</a>
        <p class="card-header-date">Posted by {{user.username}} on {{format_date created_at}}</p>
    </header>

    <section class="card-body card-body--post">{{content}}</section>
</article>